<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text" id="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" id="password" class="form-control" formControlName="password"> 
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
</div>