<div ng-init="$app.memberNumberResult=null" id="dActivate" class="row">
        <div class="col-sm-12" ng-form="fMemberNum" id="fMemberNum" name="fMemberNum">
            <tc-form>
                <div style="text-align:center;box-shadow:10px" class="row">
    
                    <aside class="col-md-1"></aside>
                    <section class="col-md-10">
                        <h1>We'd like your ID number</h1>
                    </section>
                    <aside class="col-md-1"></aside>
                </div>
    
                <div id="aContent" class="row" style="text-align:center;padding-top:10px">
    
                    <aside class="col-sm-1"></aside>
    
                    <div class="col-xs-12 col-sm-4 dHaveNeedCol">
                        <div class="dHaveCol">
                            <h5>Enter your ID/Member #</h5>
                            <div>
                                {{$app.memberNumberError}}
                                <tc-input change="$app.memberNumberResult = 'empty'" type="text" key="$app.dataService.enterprise.memberNumber" required-message="<b>Please enter an 11-digit ID/Member #.</b>"
                                    pattern-message="<b ng-show='$input.tcForm.ngForm.$submitted'>Please enter an 11-digit ID/Member #.</b>"
                                    name="txtMemberNumber" id="txtMemberNumber" required="true" clazz="strong" placeholder="XXXXXXXXXXX"
                                    pattern="/^[0-9]{11}$/" maxlength="11" style="display: inline;text-align:center;vertical-align:middle; font-size:14pt"
                                />
                            </div>
                            <div class="red mnErrMsg" ng-show="$input.tcForm.ngForm.$submitted && $app.dataService.enterprise.enrollment.memberNumber.length < 11">
                                <b>Please enter an 11-digit ID/Member #.</b>
                            </div>
                            <div ng-if="$parent.$form.ngForm.$valid && $parent.$form.ngForm.$submitted" id="dActMsg" class="red mnErrMsg">
                                <label ng-if="$app.memberNumberResult.cardEndDate != null" id="dActMsgtext" style="font-size: 14px; font-weight: normal;">
                                    The member number you entered is already active. Your card's expiration date is {{$app.memberNumberResult.cardEndDate.split('T')[0] | date:"shortDate"}}.
                                </label>
                                <label ng-if="$app.memberNumberResult == null && $app.memberNumberError[0] != 'FailureMemberNumberNotFound'" id="dActMsgtext" style="font-size: 14px; font-weight: normal;">
                                    <b>The ID/Member # you entered is not valid.</b>
                                    <br>
                                    Please re-enter or call Janssen CarePath at
                                    <br>
                                    877-CarePath (877-227-3728),
                                    <br>
                                    Monday–Friday, 8:00 <span class="reduced"> AM</span>–8:00 <span class="reduced">PM</span> ET.
                                </label>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-sm-1"></div>
    
                    <div class="col-xs-12 col-sm-6  dHaveNeedCol">
                        <div class="dNeedCol">
                            <div style="display:table">
                                <div style="display:table-row">
                                    <div style="display:table-cell;text-align:right;vertical-align: middle; " class="red">
                                        <br /><br /> The 11-digit <br /> ID/Member # is<br /> found on the front<br /> of your
                                        card in the <br /> lower-left corner.
                                    </div>
                                    <div style="display:table-cell">
                                        <tc-image key="promo-card-help" clazz="img-responsive" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="row" style="text-align:center;padding-top:20px">
                    <tc-button clazz="inputButton1" validate="true" on-invalid="" on-success="$app.actionService.scope(this).async('legacyCheckMemberNumber', $app.dataService.enterprise.memberNumber).result('$app.memberNumberResult', '$app.memberNumberError').error('eval', '$app.memberNumberError[0] == \'FailureMemberNumberNotFound\' ? $app.porticoService.page(\'survey_1\') : null').promise()"
                        type="submit" id="ibtnActivate">Submit</tc-button>&nbsp;&nbsp;&nbsp;
                </div>
            </tc-form>
        </div>
    </div>