<div class="col-md-8 col-md-offset-2">
    <form ngNativeValidate (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
                <label for="content" class="">Content</label>
                <input type="text" id="content" class="form-control" [ngModel]="message?.content" name="content" required>
            </div>
        <button class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>