<article class="panel panel-default">
    <div class="panel-body">
            {{message.content}}
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{message.username}}
        </div>
        <div class="config" *ngIf="belongsToUser()">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>